# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/

# Environments
.env
venv/
.venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
desktop.ini

security.log